@for(contact of filteredContacts(); track contact) {
<div class="contacts">
  <div class="contact-card">
    <div class="contact-name">{{ contact.fname }}</div>
    <div class="contact-name">{{ contact.lname }}</div>
    <div class="contact-email">{{ contact.emailAddress }}</div>
    <div class="contact-phoneNumber">{{ contact.phoneNumber }}</div>
    <div class="container">
      <button class="btn btn-primary" [routerLink]="['edit', contact.id]">
        Edit
      </button>
      <button class="btn btn-primary" (click)="deleteContact(contact)">
        Delete
      </button>
    </div>
  </div>
</div>
}
